# csv files from original repo
MAL_db/anime_final.csv
MAL_db/anime_with_synopsis.csv
MAL_db/anime.csv
MAL_db/animelist_truncated.csv
MAL_db/animelist.csv
MAL_db/rating_complete.csv
MAL_db/watching_status.csv

# test files
MAL_db/TEST.sql
MAL_db/VIEW_QUERIES.sql
MAL_db/SQL_old.sql

# database
MAL_db/DATABASE.db
